In [1]:
#import the needed librairies

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
%matplotlib inline
import matplotlib.pyplot as plt  # Matlab-style plotting
import seaborn as sns
color = sns.color_palette()
sns.set()
from sklearn.cluster import KMeans

In [2]:
#Now let's get and put the data in  pandas dataframe

order_products_train = pd.read_csv('data/order_products.csv')

orders = pd.read_csv('data/orders.csv')
products = pd.read_csv('data/products.csv')
aisles = pd.read_csv('data/aisles.csv')
departments = pd.read_csv('data/departments.csv')

In [3]:
data1 = pd.merge(order_products_train, orders, on = "order_id", how = "left")

In [4]:
data2 = pd.merge(data1, products, on = "product_id", how = "left")

In [5]:
data3 = pd.merge(data2, aisles, on = "aisle_id", how = "left")

In [7]:
data3.head(10)

,order_id,product_id,add_to_cart_order,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_name,aisle_id,department_id,aisle
0,2,33120,1,202279,3,5,9,8.0,Organic Egg Whites,86,16,eggs
1,2,28985,2,202279,3,5,9,8.0,Michigan Organic Kale,83,4,fresh vegetables
2,2,9327,3,202279,3,5,9,8.0,Garlic Powder,104,13,spices seasonings
3,2,45918,4,202279,3,5,9,8.0,Coconut Butter,19,13,oils vinegars
4,2,30035,5,202279,3,5,9,8.0,Natural Sweetener,17,13,baking ingredients
5,2,17794,6,202279,3,5,9,8.0,Carrots,83,4,fresh vegetables
6,2,40141,7,202279,3,5,9,8.0,Original Unflavored Gelatine Mix,105,13,doughs gelatins bake mixes
7,2,1819,8,202279,3,5,9,8.0,All Natural No Stir Creamy Almond Butter,88,13,spreads
8,2,43668,9,202279,3,5,9,8.0,Classic Blend Cole Slaw,123,4,packaged vegetables fruits
9,3,33754,1,205970,16,5,17,12.0,Total 2% with Strawberry Lowfat Greek Strained...,120,16,yogurt

In [6]:
data = pd.pivot_table(data3, index="user_id", columns="aisle",values="order_id", aggfunc=np.size)
data

aisle,air fresheners candles,asian foods,baby accessories,baby bath body care,baby food formula,bakery desserts,baking ingredients,baking supplies decor,beauty,beers coolers,...,spreads,tea,tofu meat alternatives,tortillas flat bread,trail mix snack mix,trash bags liners,vitamins supplements,water seltzer sparkling water,white wines,yogurt
user_id,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
2,NaN,3.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,...,3.0,1.0,1.0,NaN,NaN,NaN,NaN,2.0,NaN,42.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0,1.0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN
5,1.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206205,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0
206206,NaN,4.0,NaN,NaN,NaN,NaN,4.0,1.0,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN
206207,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,3.0,4.0,NaN,2.0,1.0,NaN,NaN,11.0,NaN,15.0
206208,NaN,3.0,NaN,NaN,3.0,NaN,4.0,NaN,NaN,NaN,...,5.0,NaN,NaN,7.0,NaN,NaN,NaN,NaN,NaN,33.0
206209,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,3.0

In [7]:
data = data.fillna(0)
data.head(10)

aisle,air fresheners candles,asian foods,baby accessories,baby bath body care,baby food formula,bakery desserts,baking ingredients,baking supplies decor,beauty,beers coolers,...,spreads,tea,tofu meat alternatives,tortillas flat bread,trail mix snack mix,trash bags liners,vitamins supplements,water seltzer sparkling water,white wines,yogurt
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
2,0.0,3.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,...,3.0,1.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,42.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
5,1.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
8,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,6.0,0.0,2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,28.0
10,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0

In [10]:
from sklearn import preprocessing
x_scaled = preprocessing.scale(data)
x_scaled

array([[-0.13497103, -0.33922718, -0.07575701, ..., -0.37143228,
        -0.08668691, -0.28458752],
       [-0.13497103,  0.86951805, -0.07575701, ..., -0.19699129,
        -0.08668691,  1.85881583],
       [-0.13497103, -0.33922718, -0.07575701, ..., -0.19699129,
        -0.08668691, -0.39175769],
       ...,
       [-0.13497103, -0.33922718, -0.07575701, ...,  0.58799319,
        -0.08668691,  0.41201857],
       [-0.13497103,  0.86951805, -0.07575701, ..., -0.37143228,
        -0.08668691,  1.37655008],
       [-0.13497103,  0.06368789, -0.07575701, ..., -0.37143228,
        -0.08668691, -0.23100244]])

In [ ]:
wcss = []

for i in range(1, 30):
    kmeans = KMeans(i)
    kmeans.fit(x_scaled)
    wcss.append(kmeans.inertia_)
wcss

In [ ]:
plt.plot(range(1,30), wcss)
plt.xlabel('Number of clusters')
plt.ylabel('WCSS')
plt.show()